{% extends "base.html" %}
{% block content %}
<h2>{{ 'Edit' if 'edit' in request.path else 'Add' }} Transaction</h2>
<form method="POST">
  {{ form.hidden_tag() }}
  {{ form.title.label }} {{ form.title(class="form-control mb-2") }}
  {{ form.amount.label }} {{ form.amount(class="form-control mb-2") }}
  {{ form.type.label }} {{ form.type(class="form-control mb-2") }}
  {{ form.category.label }} {{ form.category(class="form-control mb-2") }}
  {{ form.date.label }} {{ form.date(class="form-control mb-2") }}
  {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
